.about {
  display: grid;

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.about-content {
  background-color: #091346;
  padding: 2rem;

  h1 {
    color: white;
  }

  p {
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.9);
    max-width: 600px;
  }
}

.about-image {
  max-height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}
