.contact {
  padding: 1rem 1rem 7rem;
  h1 {
    text-align: center;
  }

  form {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;

    input,
    textarea {
      border: 1px solid rgb(199, 199, 199);
      border-radius: 0px;
      padding: 0.5em;
    }

    textarea {
      resize: vertical;
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (min-width: 769px) {
    .input-group--name {
      flex: 1;
    }
  }
}
