footer {
  background-color: rgb(25, 21, 26);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem 2rem;

  a {
    color: rgb(249, 134, 27);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
