.technologies {
  padding: 3rem 1rem 1rem;

  h1 {
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

.technologies-container {
  display: grid;
  gap: 2rem;

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.technology {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  overflow: hidden;
}

.technology:hover .technology-image img {
  transform: scale(1.05);
}

.technology-image {
  position: relative;
  overflow: hidden;
  height: 225px;

  img {
    transition: transform 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.technology-content {
  background-color: rgb(249, 252, 255);
  flex: 1;
  padding: 1rem;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  a {
    display: block;
    color: rgb(86, 27, 222);
    text-decoration: none;
    cursor: pointer;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }

  a:hover {
    color: rgb(249, 134, 27);
  }
}
