/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Lato", sans-serif;
}

:root {
  --color-primary: rgb(107, 28, 246);
  --color-secondary: rgb(249, 134, 27);
  --color-primary-dark: rgb(9,19,70);
  --color-footer-background: rgb(25, 21, 26);
  --color-sidebar-background: rgb(55, 29, 117);
  --color-border-gray: rgb(199, 199, 199);
}

:focus-visible {
  outline: 2px solid black !important;
}

.btn {
  border: 2px solid var(--color-secondary);
  padding: 0.5em 1em;
  background: var(--color-secondary);
  transition: background-color 0.15s, border-color 0.15s;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

.header-decoration {
  margin-left: 1.5rem;
  position: relative;
}

.header-decoration::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  width: 5px;
  border-radius: 3px;
  top: 4px;
  bottom: 4px;
  background-color: var(--color-primary);
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.nav-logo img {
  width: 32px;
  height: 32px;
}
.nav-logo span {
  font-weight: 900;
  color: white;
  font-size: 1.25rem;
}

.btn--hamburger {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .btn--hamburger {
    display: none;
  }
}

.drop-shadow {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
@media screen and (min-width: 769px) {
  .drop-shadow {
    display: none;
  }
}

.drop-shadow.hidden {
  display: none;
}

.nav-links {
  min-width: 35vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-sidebar-background);
  gap: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0;
  z-index: 100;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}
@media screen and (min-width: 769px) {
  .nav-links {
    min-width: unset;
    position: initial;
    flex-direction: row;
    padding: unset;
    background-color: unset;
  }
}

.nav-links.hidden {
  transform: translateX(-100%);
}
@media screen and (min-width: 769px) {
  .nav-links.hidden {
    transform: unset;
  }
}

.nav-link a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav-link a::after {
  position: absolute;
  content: "";
  background-color: white;
  height: 2px;
  top: 1.5rem;
  left: 0;
  right: 0;
  transition: 0.5s width;
  width: 0;
  margin: 0 auto;
}

.nav-link a:hover::after {
  width: 90%;
}

.home {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .home {
    min-height: 85vh;
  }
}

.home-background {
  position: absolute;
  background-image: url("../assets/home-hero.avif");
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s transform;
  background-color: #091346;
  z-index: -1;
}

.home:hover .home-background {
  transform: scale(1.1);
}

.home-content {
  text-align: center;
  height: 100%;
  padding: 4rem 1rem;
}
@media screen and (min-width: 769px) {
  .home-content {
    padding: 7rem 3rem 4rem;
  }
}
.home-content h1 {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
}
.home-content p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  padding-bottom: 2rem;
  max-width: 75ch;
}
.home-content a {
  padding: 0.75em 1.5em;
  text-decoration: none;
}

.iot {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  text-align: center;
  gap: 3rem;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .iot {
    flex-direction: row-reverse;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

.iot-content {
  flex: 3;
}

.iot-image {
  flex: 2;
}
.iot-image img {
  max-height: 250px;
}

.customer-policy {
  padding: 3rem 1rem 0;
  text-align: center;
}

.advantages {
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 400px) {
  .advantages {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) {
  .advantages {
    display: flex;
  }
}

.advantage {
  margin: 0 auto;
  text-align: center;
}
.advantage-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  color: white;
  margin: 0 auto 1rem;
}
.advantage h2 {
  font-weight: 400;
  font-size: 1.15rem;
}

.products {
  padding: 1rem;
}
.products h1 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.products-container {
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 769px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
  overflow: hidden;
}

.product:hover .product-image img {
  transform: scale(1.05);
}

.product-image {
  position: relative;
  overflow: hidden;
  height: 225px;
}
.product-image img {
  transition: transform 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-content {
  background-color: rgb(249, 252, 255);
  flex: 1;
  padding: 1rem;
}
.product-content h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}
.product-content a {
  display: block;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.product-content a:hover {
  color: var(--color-secondary);
}

.about {
  display: grid;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .about {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

.about-image {
  max-height: 400px;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.about-content {
  background-color: var(--color-primary-dark);
  padding: 2rem;
}
.about-content h1 {
  color: white;
}
.about-content p {
  padding-bottom: 1rem;
  color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 769px) {
  .about-content p {
    max-width: 600px;
  }
}

.contact {
  padding: 3rem 1rem 5rem;
}
.contact h1 {
  text-align: center;
}
.contact .form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
}
.contact .form input,
.contact .form textarea {
  border: 1px solid var(--color-border-gray);
  border-radius: 0;
  padding: 0.5em;
}
.contact .form textarea {
  resize: vertical;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .input-group--name {
    flex: 1;
  }
}
footer {
  background-color: var(--color-footer-background);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2rem;
}
footer a {
  color: var(--color-secondary);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
