@import "_reset.scss";

body {
  font-family: "Lato", sans-serif;
}

.btn {
  $btn-background: rgb(249, 134, 27);
  border: 2px solid $btn-background;
  padding: 0.5em 1em;
  background: $btn-background;
  transition: background-color 0.15s, border-color 0.15s;
  color: white;
  cursor: pointer;
}

.btn:hover {
  $btn-background: rgb(86, 27, 222);
  background-color: $btn-background;
  border-color: $btn-background;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
}

.lined-header {
  margin-left: 1.5rem;
  position: relative;
}

.lined-header::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  width: 5px;
  border-radius: 3px;
  top: 4px;
  bottom: 4px;
  background-color: rgb(86, 27, 222);
}

@import "_navbar.scss";
@import "_home-hero.scss";
@import "_customer-policy.scss";
@import "_technologies.scss";
