@import "_reset.scss";

body {
  font-family: "Lato", sans-serif;
}

:root {
  --color-primary: rgb(107, 28, 246);
  --color-secondary: rgb(249, 134, 27);
  --color-primary-dark: rgb(9,19,70);
  --color-footer-background: rgb(25, 21, 26);
  --color-sidebar-background: rgb(55, 29, 117);
  --color-border-gray: rgb(199, 199, 199);
}

:focus-visible {
  outline: 2px solid black !important;
}

.btn {
  $btn-background: var(--color-secondary);
  border: 2px solid $btn-background;
  padding: 0.5em 1em;
  background: $btn-background;
  transition: background-color 0.15s, border-color 0.15s;
  color: white;
  cursor: pointer;
}

.btn:hover {
  $btn-background: var(--color-primary);
  background-color: $btn-background;
  border-color: $btn-background;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}

.header-decoration {
  margin-left: 1.5rem;
  position: relative;
}

.header-decoration::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  width: 5px;
  border-radius: 3px;
  top: 4px;
  bottom: 4px;
  background-color: var(--color-primary);
}

@import "_navbar.scss";
@import "_home-hero.scss";
@import "_circuits.scss";
@import "_customer-policy.scss";
@import "_technologies.scss";
@import "_about.scss";
@import "_contact.scss";
@import "_footer.scss";
